/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App {
  text-align: center;
}

@font-face {
  font-family: "Zen";
  src: local("MyFont"), url(./Fonts/ZenOldMincho-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ZenKaku";
  src: local("MyFont"), url(./Fonts/ZenKakuGothicNew-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Noto";
  src: local("MyFont"), url(./Fonts/NotoSerifDisplay-ThinItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Notol";
  src: local("MyFont"), url(./Fonts/NotoSerifDisplay-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Zen2";
  src: local("MyFont"), url(./Fonts/ZenOldMincho-Black.ttf) format("truetype");
}

@font-face {
  font-family: "PlayItalic";
  src: local("MyFont"), url(./Fonts/PlayfairDisplay-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "cmu";
  src: local("MyFont"), url(./Fonts/cmunrm.ttf) format("truetype");
}

@font-face {
  font-family: "dancing";
  src: local("MyFont"), url(./Fonts/DancingScript-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "calibre";
  src: local("MyFont"), url(./Fonts/TestCalibre-Light.otf) format("OpenType");
}

@font-face {
  font-family: "Manuka";
  src: local("MyFont"), url(./Fonts/TestManukaCondensed-Light.otf) format("OpenType");
}

@font-face {
  font-family: "Epicene";
  src: local("MyFont"), url(./Fonts/TestEpiceneDisplay-Light.otf) format("OpenType");
}

@font-face {
  font-family: "Domaine";
  src: local("MyFont"), url(./Fonts/TestDomaineSansDisplay-Light.otf) format("OpenType");
}

@font-face {
  font-family: "ManukaL";
  src: local("MyFont"), url(./Fonts/TestManuka-Light.otf) format("OpenType");
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  margin: 0;
  padding: 0;
}

.Navbar {
  background-color: grey;
  width: 100%;
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 20%;
  border-bottom: 1px solid white;
}

.Navbar .leftSide {
  display: flex;
  flex: 20%;
  justify-content: left;
  max-height: 80px;
}

.Navbar .leftSide a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 20px;
}

.Navbar .rightSide {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  padding-right: 25px;
  max-height: 80px;
}

.Navbar .rightSide a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 20px;
  padding-left: 105px;
}

.Navbar .rightSide button {
  display: none;
  margin-left: 150px;
  margin-top: 5px;
}

.Navbar .rightSide #hidden {
  position: absolute;
  justify-content: right;
  left: 0px;
  top: 80px;
  height: 200px;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 230px;
  justify-content: right;
}

.Navbar .rightSide #hidden a {
  display: flex;
  flex: 20%;
  justify-content: center;
  width: 100%;
  text-align: right;
  margin: 10px;
  font-size: 20px;
  /* margin-right: 200px; */
/* padding-right: 0px; */

/* @media only screen and (max-width: 2000px) {
  .Navbar .rightSide a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1100px) {
  .Navbar .rightSide a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 950px) {
  .Navbar .rightSide button {
    display: flex;
  }

  .Navbar .rightSide .links {
    display: none;
  }
} */

.card {
  border: 1px solid black;
}
